ol {
    color:mediumslateblue;
}

p {
    /* this is the default color */
    background-color: oldlace;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-weight: bolder;
    font-size: larger;
    font-family: monospace;
}

#jobDescription {
    color:crimson;
}

#resumeUpload {
    font-weight: bold;
}

.noticeable {
    text-decoration: underline;
    color:darkorange;
}

.highlight {
    background-color: burlywood;
}

h2, h1 {
    font-family: fantasy;
}

ol li {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}