ol {
    color:mediumslateblue;
}

p {
    /* this is the default color */
    background-color: oldlace;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-weight: bolder;
    font-size: larger;
    font-family: monospace;
}